body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-size: 172%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #822bcb;
    text-decoration: none;
}

.container table td {
    text-align: left;
}

.breadcrumb {
    background-color:#FFFFFF;
}

.nav-center {
    margin:0;
    float:none;
    width:100%;
}

.navbar-inner{
    text-align:center;
    width:100%;
}

.title {
    font-size: 96px;
    font-weight: 100;
}

.logo {
    text-align: center;
    vertical-align: middle;
}

.form-register {
    padding: 15px;
}

.form-register .error span.alert.alert-danger {
    clear:both;
    display: block;
}

.form-register .form-register-heading,
.form-register .checkbox {
    margin-bottom: 10px;
}

.form-register h2 {
    text-align: left;
}

.form-register .checkbox {
    font-weight: normal;
}
.form-register .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-register .form-control:focus {
    z-index: 2;
}

.form-register input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary {
    background-color:#7619c5;
    border-color:#7619c5;
}

.btn-primary:hover {
    background-color:#ff5400;
    border-color:#ff5400;
}

.form-register label {
    text-align:left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#FFFFFF;
}