@(elements: helper.FieldElements)

<div class="@if(elements.hasErrors) {error}">
  <label for="@elements.id" class="sr-only">@elements.label</label>
  <div class="input">
    @elements.input
    <span class="@if(elements.hasErrors) {alert alert-danger}">@elements.errors.mkString(", ")</span>
    @*<span class="help">@elements.infos.mkString(", ")</span>*@
  </div>
</div>