@(collection:scala.collection.mutable.MutableList[models.User], userForm: Form[User], success: String)(implicit messages: Messages)

@import helper._

@implicitField = @{ FieldConstructor(myPlainFieldConstructor.f) }

@main("OrangeBus: Scala App") {

    <div class="container">

        <div class="title"><strong>OrangeBus:</strong> Scala App</div>

        <ol class="breadcrumb">
            <li class="active">Register Interest</li>
            <li><a href="/user/search">Search Users</a></li>
        </ol>
        <hr>

        <div class="row">
            <div class="col-sm-12">
                <p>Please fill out the form below to register your interest.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            @if(success) {

                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                    @success
                </div>
            }

                @userForm.globalError.map { error =>
                    <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      @error.message
                    </div>
                }

                @helper.form(action = routes.UserController.create(), 'class -> "form-register") {

                    @helper.input(userForm("name"), 'placeholder -> "Your Name (required)") { (id, name, value, args) =>
                        @* a type (String, String, Option[String], Map[Symbol,Any]) => Html *@
                        <input class="form-control" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                    }

                    @helper.input(userForm("email"), 'placeholder -> "Your Email (required)") { (id, name, value, args) =>
                        @* a type (String, String, Option[String], Map[Symbol,Any]) => Html *@
                        <input class="form-control" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                    }

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register Interest</button>
                }

                @if(collection) {

                    <div class="title"><h2>Registered Users</h2></div>

                    <table class="table table-striped">
                        <thead> <tr> <th>Name</th> <th>Email</th> </tr> </thead>

                    <tbody>
                    @for(collections <- collection) {
                        <tr>
                            <td>@collections.name</td>
                            <td>@collections.email</td>
                        </tr>
                    }
                    </tbody>
                    </table>

                    @helper.form(action = routes.UserController.delete()) {

                        <button class="btn btn-danger" type="submit">Delete Registered Users</button>
                    }
                }

            </div>
        </div>

    </div>

}
