@(collection:scala.collection.mutable.MutableList[models.User], searchForm: Form[Search], keyword: String)(implicit messages: Messages)

@import helper._

@implicitField = @{ FieldConstructor(myPlainFieldConstructor.f) }

@main("OrangeBus: Scala App | Search Users") {

  <div class="container">

    <div class="title"><strong>OrangeBus:</strong> Scala App</div>

    <ol class="breadcrumb">
      <li><a href="/">Register Interest</a></li>
      <li class="active">Search Users</li>
    </ol>
    <hr>

    <div class="row">
      <div class="col-sm-12">
        <p>You can search for users using the form below.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

        @searchForm.globalError.map { error =>
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @error.message
          </div>
        }

        @helper.form(action = routes.UserSearchController.submit(), 'class -> "form-register") {

          @helper.input(searchForm("keyword"), 'placeholder -> "Search...") { (id, name, value, args) =>
            @* a type (String, String, Option[String], Map[Symbol,Any]) => Html *@
            <input class="form-control" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
          }

          <button class="btn btn-lg btn-primary btn-block" type="submit">Search Users</button>
        }

        @if(keyword != null) {

          <div class="title"><h2>Search Registered Users for "@keyword"</h2></div>

          @if(collection) {

            <table class="table table-striped">
              <thead> <tr> <th>Name</th> <th>Email</th> </tr> </thead>

              <tbody>
              @for(collections <- collection) {
                <tr>
                  <td>@collections.name</td>
                  <td>@collections.email</td>
                </tr>
              }
              </tbody>
            </table>

          } else {

            <p>Sorry, no users were found for that search term. Please try again.</p>

          }
        }

      </div>

    </div>

  </div>

}